<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="https://bellissimo-loyalty-mock-service.onrender.com"/>
    <add key="BasicAuthLogin" value="CHANGE_ME"/>
    <add key="BasicAuthPassword" value="CHANGE_ME"/>
    <add key="BranchId" value="10"/>
    <add key="TerminalGroupId" value="iiko-terminal-group-id"/>
    <add key="PosId" value="front-01"/>
    <add key="HttpTimeoutSeconds" value="10"/>
    <add key="LogDirectory" value="logs"/>
  </appSettings>
</configuration>
